@media (min-width: 800px) and (max-width:1099px) {

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .site-3 {
        grid-column: 1 / -1;
        margin: 2.5%;
    }

    h1 {
        font-size: 30px;
    }
}